.header {
    background-color: rgba(23, 23, 179, 0.87);
    height: 60px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    padding-top: 5px;
    padding-left: 200px;
}

.header-sub {
    font-size: 15px;
    padding-bottom: 20px;
}

.call {
    padding-left: 400px;
    font-weight: lighter;
}